@use "../partials/colors";

#footer {
  height: 5vh;
  background-color: colors.$windows-blue;
  display: flex;
  justify-content: space-between;
  position: bottom;
}

#timestamp {
  border: 1px solid pink;
}
