body {
  text-align: center;
  border: 1px solid black;
  height: 75vh;
  width: 100vw;
}
#main {
  height: 70vh;
  background-image: url("./images/wallpaper.png");
  background-size: cover;
  background-position: bottom;
  position: relative;
}

#start-menu {
  border: 1px solid pink;
  height: 50vh;
  width: 20vw;
  position: absolute;
  bottom: 0;
  background-color: darkgrey;
  display: none;
}
