@use "../partials/colors";
@use "../partials/fonts";

#menu-modal {
  display: none;
  position: absolute;
  width: 80vw;
  height: 50vh;
  top: 25%;
  left: 10%;
  right: 10%;
  border: solid 1px colors.$windows-blue;
  justify-content: center;
  background-color: white;
}

#modal-div {
  background-color: colors.$windows-blue;
}

.modal-img {
  width: 40px;
  height: 40px;
  text-align: center;
}

.modal-header {
  display: flex;
  background-color: colors.$windows-blue;
  height: 5vh;
}

.modal-body {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.music-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 120px;
  gap: 5px;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}
