@use "../partials/colors";
@use "../partials/fonts";

#menu-modal {
  display: none;
  position: absolute;
  // width: 40%;
  // height: 50%;
  top: 25%;
  left: 25%;
  right: 10%;
  border: solid 1px colors.$windows-blue;
  justify-content: center;
  background-color: white;
}

#modal-div {
  background-color: colors.$windows-blue;
}

.modal-img {
  width: 20px;
  height: 20px;
}

.modal-header {
  display: flex;
  background-color: colors.$windows-blue;
}

.modal-body {
  display: flex;
  flex-wrap: wrap;
}
